.allProducts_page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
