.cart_product_container {
  height: auto;
  width: 100%;
  background-color: #f0f0f0;
  margin: 20px 10px 20px 0px;
  border-radius: 8px;
  padding: 10px;
}
.cart_product,
.checkout_product_preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.checkout_product_preview {
  justify-content: space-between;
  font-size: small;
}
.cart_item_left,
.cart_item_right {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}

.cart_item_left > img,
.checkout_product_preview > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cart_item_right {
  flex-direction: column;
  justify-content: space-evenly;
  font-size: small;
}
.cart_quantity_div {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
}

.cart_quantity_div h5 {
  font-size: small;
}
.cart_item_right svg,
.cart_quantity_div svg {
  font-size: medium;
  font-weight: bold;
}
