.cart_page {
  display: flex;
  flex-direction: column;
}
.cart_subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;

  background-color: #341d17;
  color: #f3d9d5;
  margin-top: 20px;

  padding: 10px 20px;
}
.cart_subtotal input {
  width: 100%;
  text-align: end;
}
.cart_subtotal * {
  background-color: #341d17;
  color: #f3d9d5;
  border: none;
  outline: none;
  font-size: large;
}
.pickup_or_delivery {
  margin: 20px 0;
}
.shopping_or_checkout {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.btns {
  padding: 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 0 20px;
  /* color: #343434; */
  color: #f3d9d5;
  background-color: #f4f4f4;
  cursor: pointer;
}
.shopping_or_checkout button {
  color: #341d17;
}
