.cart_page {
  display: flex;
  flex-direction: column;
}
.cart_page h5 {
  padding: 20px 20px 0 20px;
  text-align: center;
}
.cart_product_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}

.cart_subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;

  background-color: #343434;
  color: #d0aaaa;
  margin-top: 20px;

  padding: 10px 20px;
}
.cart_subtotal * {
  background-color: #343434;
  color: #d0aaaa;
  border: none;
  font-size: large;
}
.pickup_or_delivery {
  margin: 20px 0;
}
.shopping_or_checkout {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.btns {
  padding: 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 0 20px;
  color: #343434;
  background-color: #d0aaaa;
  cursor: pointer;
}
