.categories_div {
  width: 300px;
  height: 100%;
  padding: 10px 0;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  /* background-color: #F3D9D5; */
}
.cat_product {
  display: flex;
  margin-left: 10%;
}
.categories_div h5 {
  margin-left: 13%;

  /* margin: 20px 0 20px 20%; */
  padding: 20px 0;
}

.categories_div li a {
  display: flex;
  align-items: center !important;
  padding: 10px 0;
  cursor: pointer;
  color: #343434;
  transition: all 0.3s ease-in-out;
}

.categories_div li a:hover {
  color: #f4f4f4;
}

.cat_product a {
  width: 100%;
}
.shop_now {
  width: 70% !important;
  margin: 10px 0 0 0 !important;
  background-color: #341d17 !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.shop_now:hover {
  transform: scale(1.02);
}
