/* ON LARGE SCREEN SET UP WILL BE TOP WITH LEFT AND RIGHT AND BOTTOM */
/* SMALL SCREENS EVERYTHING SHOULD BE COLUMN STARTING WITH ORDER PREVIEW, CLIENT DETS, THEN PAYMENT DETS */
.checkout_page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}
/* BOTH SIDES */
.client_and_checkout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
/* LEFT SIDE */

/* RIGHT SIDE */
.client_details,
.checkout_details_right {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
}
.product_preview h3 {
  align-self: start;
}
.product_preview,
.checkout_right {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}

.checkout_right {
  flex-direction: row;
  color: #787878;
  font-size: 14px;
}
.checkout_right svg {
  font-size: 40px !important;
}
.checkout_right * {
  width: 30%;
}
/* SUBTOTAL DIV */
.checkout_product_subtotal {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.subtotal_row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
  border-left: 1px solid #f8f8f8;
}
.subtotal_row:hover {
  color: #68acac;
  border-left: 1px solid #68acac;
}
.checkout_product_subtotal {
  background-color: #f8f8f8;
  border-radius: 8px;
}

.checkout_product_subtotal * {
  width: 100%;
  padding: 7.5px;
}

.checkout_product_subtotal input {
  text-align: right;
  /* background-color: #68acac; */
  background-color: #f8f8f8;

  border: none;
}

/* FORM COMPLETION */

.checkout_client_details {
  width: 100%;
  height: 100%;
  margin: 0 10px 10px 0;
}
.checkout_page h3,
.checkout_page p {
  padding: 10px 5px;
}
.checkout_product_subtotal p {
  font-size: small;
}

.checkout_row_form {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}
.checkout_row_form .login_labels,
.delivery_pickup_options .login_labels {
  width: 30%;
}
.checkout_row_form .input_fields,
.checkout_row_form textarea,
#delivery_locations {
  width: 70%; /* important cause of the textarea */
}
#delivery_locations {
  width: 70% !important;
}
.smaller {
  width: 32% !important;
}
/* THIS WILL BE UNDER THE PRODUCT PREVIEW */
.delivery_pickup_container {
  border-radius: 25px;
}
.checkout_delivery_options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0 20px 0;
  width: 100%;
  height: 100%;
}
.delivery_pickup_cont {
  width: 100%;
  margin-bottom: 10px;
}
.payment_choice {
  width: 30%;
}
.delivery_pickup_cont,
.payment_choice {
  border: 1px solid #d0aaaa;

  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.delivery_pickup_cont:hover,
.payment_choice:hover {
  box-shadow: 5px 3px 5px #d0aaaa;
  transform: scale(1.03);
}
.delivery_icon {
  font-size: 80px !important;
}
.delivery_pickup_options {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 50px;
}

#delivery_locations {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;

  transition: all 0.3s ease-in-out;
}
#delivery_locations:hover {
  box-shadow: 5px 3px 5px #d0aaaa;
  transform: scale(1.03);
}
.delivery_locations::after {
  display: flex;
  position: absolute;
}
.delivery_locations::after option {
  padding: 5px 10px;
}
/* ANIMATING THESE OPTIONS */

.complete_order_btn {
  border-radius: 8px !important;
  margin: 0 !important;
  background-color: #68acac;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.complete_order_btn:hover {
  transform: scale(1.02);
}
.mpesa_process_div {
  margin: 10px 0;
}
.warning {
  color: #f8f8f8;
}
