.error_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error_message {
  border: 1px solid #f3d9d5;
  box-shadow: 8px 5px 5px #f3d9d5;

  border-radius: 8px;
  width: 60vw;
  height: 300px;
  margin: 0 10%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
}
.error_message img {
  object-fit: contain;
  width: 40%;
  height: 40%;
}
.error_text {
  padding: 10px;
}
.error_message p {
  color: rgb(209, 4, 4);
}
.error_message a {
  width: 200px;
}
.error_btn {
  display: flex;
  justify-content: space-evenly;
  width: 175px !important;
  transition: all 0.3s ease-in-out;
  background-color: #f3d9d5 !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 20px 20px 20px;
}
.error_btn:hover {
  transform: scale(1.02);
}
.error_btn svg {
  color: #341d17;
}
.error_btn button {
  border: none;
  outline: none;
  background-color: transparent;
  color:  #341d17;
}