.error_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error_message {
  border: 1px solid #dec3c3;
  box-shadow: 8px 5px 5px #dec3c3;

  border-radius: 8px;
  width: 60vw;
  height: 300px;
  margin: 0 10%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #f8f8f8;
}
.error_message img {
  object-fit: contain;
  width: 40%;
  height: 40%;
}
.error_text {
  padding: 10px;
}
.error_message p {
  color: rgb(209, 4, 4);
}
.error_message a {
  width: 200px;
}
.error_btn {
  margin: 20px 0;
  background-color: #dec3c3;
  width: 80%;
}
