.footer {
  background-color: #343434;
  height: 300px;
  width: 100%;
  bottom: 0px;
  color: #d0aaaa;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.footer p {
  padding: 10px;
  color: #d0aaaa;
}

.footer_top {
  display: flex;
  height: 200px;
  width: 100%;
}

.top_left,
.top_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 20px;
}

.footer_icons {
  font-size: 40px !important;
}

.top_right > a {
  color: #d0aaaa;
  font-size: 12px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  bottom: 0px;
}

.bottom_left,
.bottom_right,
.bottom_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  height: 100%;
  width: 33.3333333333%;
}

.social {
  color: #d0aaaa;
  font-size: 30px;
}

.top_middle {
  display: none;
}
