.header {
  position: fixed;
  width: calc(100% - 60px);
  height: 80px;
  background-color: #d0aaaa;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandName {
  height: 100px;
  width: 50%;
  object-fit: contain;
}

.header_icons_div {
  color: #343434;
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
