.login_signup_page,
.login_page_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.login_signup_page {
  height: 100%;
}
.login_page_logo {
  height: 100px;
}
.login_page_logo > img {
  height: 100%;
  width: 80%;
  object-fit: contain;
}
.choose_page_btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
}
.choose_display {
  display: none !important;
}

.register_form,
.login_form,
.signInMethods {
  background-color: #f8f8f8;
  /* box-shadow: 8px 5px 5px #dec3c3; */
  /* border: 1px solid #dec3c3; */
  box-shadow: 0 0 10px rgba(160, 54, 54, 0.1);

  border: 1px solid #68acac;

  width: 100%;
  height: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}
.signInMethods {
  height: 500px;
  width: 100%;
}
.register_form h2,
.login_form h2,
.signInMethods h2 {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
.login_signup_page p {
  text-align: center;
  padding: 0 10px;
  width: 100%;
  font-size: 14px;
  color: #787878;
}

.login_labels {
  margin: 5px 0 0 5px;
}
.register_form .input_fields,
.login_form .input_fields,
.checkout_row_form .input_fields,
.update_form .input_fields,
.btn_login_page,
.coupon_section #coupon_form {
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  /* border-radius: 25px; */
  border-radius: 8px;

  transition: 0.2s ease-in-out;
}
.input_fields,
.coupon_section #coupon_form {
  margin: 10px 20px 10px 20px;
  box-shadow: 5px 5px 5px #dec3c3;
}
.register_form .input_fields {
  width: 60%;
}
.login_form .input_fields {
  width: 50%;
}
.login_form .row_form {
  margin: 20px 0;
}
.input_fields:hover,
.input_fields:focus,
.coupon_section #coupon_form:hover {
  box-shadow: 3px 3px 5px #343434;
  /* box-shadow: 3px 3px 5px #68acac; */
}
.btn_login_page {
  margin: 20px 30px 20px 20px;
  background-color: #dec3c3;
  justify-content: center;
  width: 30%;
}
.btn_login_page:hover,
.btn_login_page:focus {
  box-shadow: 3px 2px 5px #343434;
  /* box-shadow: 3px 3px 5px #68acac; */
}
.signInMethods .btn_login_page {
  width: 50%;
}
.show_option {
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
}
.solo_btns,
.login_page_logo {
  align-self: center;
}

.login_last_div {
  display: flex;
  flex-direction: column;
}

/*  */
.signIn_icons {
  margin: 0 10px;
}
