.slider {
  height: 900px;
  width: 100%;
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0 10px 10px rgba(160, 54, 54, 0.1);
  position: relative;
  overflow: hidden;
}
.slider_left,
.slider_right,
.blob {
  height: 50%;
  width: 100%;
  position: absolute;
}
.slider_left,
.blob {
  left: 0;
}
.slider_left {
  z-index: 2;
  top: 0;
}
.slider_left > img {
  object-fit: contain;
  height: 90%;
  width: 90%;
}

.blob {
  z-index: 1;
  top: 7%;
}
.blob svg {
  height: 100%;
  width: 100%;
}
.slider_right {
  z-index: 2;
  right: 3%;
  top: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider_right * {
  padding: 20px;
}
.slider_right h2 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 1500;
}

.slider_btn {
  margin-top: 10px !important;
  padding: 10px 20px !important;
  transition: all 0.5s ease-in-out;
  border: 1px solid #341d17 !important;
  outline: none;
  /* background: linear-gradient(to right, #341D17 50%, #f4f4f4 50%); */
  background: linear-gradient(to right, #f4f4f4 50%, #341d17 50%);
  /* border: 1px solid #F3D9D5 !important; */
  background-size: 205% 105%;
  background-position: right bottom;
}

.slider_btn:hover {
  transform: scale(1.05);
  background-position: left top;
}
