.tags {
  margin: 10px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tag_lines {
  width: 40%;
  outline: none;
  border: 1px solid #000;
}

.tag_title {
  padding: 0 10px;
}
