@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

.home_page {
  display: flex;
  width: 100%;
  height: 100%;
}

.main_header {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f3d9d5;
  width: 100%;
  height: 100%;
}

.all_pages_inner {
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 100%;
  margin-top: 60px;
}

.store_badge {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.notifications {
  position: relative;
}

.num_notif {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(161, 15, 15);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: white;
  top: 3px;
  right: 5px;

  font-size: 14px;
}

.no_badge {
  display: none;
}

.list_icons {
  font-size: 50px !important;
  cursor: pointer;
}
.nothing_in_cart {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.nothing_in_cart p, .nothing_navigation {
    margin: 20px 0 ;
    text-align: center;
}
.nothing_navigation {
  display: flex;
}
.back_to_home_div {
  display: flex;
  justify-content: space-evenly;
  width: 175px;
  transition: all 0.3s ease-in-out;
  background-color: #341d17 !important;

  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.back_to_home_div:hover {
  transform: scale(1.02);
}
.back_to_home_div button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #f3d9d5;
}
/* MEDIA QUERIES FOR ALL PAGES*/

/* SMALLER SCREENS */
@media screen and (max-width: 812px) {
  /********** SALES ENABLER ********/
  .innerProducts {
    flex-direction: column;
  }
  .timer_section {
    width: 100% !important;
  }
  .timing_cont p {
    font-size: small;
  }
  .sidebar_main {
    display: none !important;
  }
  .main_header {
    margin-left: 0 !important;
  }
  .header {
    width: 100% !important;
  }

  .header_icons_div svg {
    font-size: 20px !important;
  }
  .all_pages_inner {
    padding: 30px;
    margin-top: 80px;
  }
  /********** MOBILE HEADER ********/

  /* HIDE MAIN HEADER */
  .header_section_two_three {
    display: none !important;
  }

  /* SLIDER */
  .slider_right {
    right: 0 !important;
  }
  /* HOME.CSS */

  .home_img,
  .checkout_product_preview > img {
    width: 60% !important;
  }
  .products_home {
    height: auto !important;
  }
  .products_home_part1,
  .products_home_part2 {
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
    margin: 20px 0;
  }
  .home_product_info {
    margin-left: 0 !important;
  }
  .feature_icons {
    font-size: 80px !important;
  }
  /* HOME PRODUCTS */
  .products_sidebar {
    display: none;
  }

  .product_info {
    width: 100% !important;
  }
  /* FEATURES */
  .product_info p,
  .each_feature p {
    text-align: center;
  }

  /* CART PAGE */
  .cart_page h4,
  .question {
    font-size: smaller;
  }
  .shopping_or_checkout .btns {
    font-size: x-small;

    padding: 5px 7.5px !important;
  }
  .checkout_product_preview .cart_quantity_div {
    margin: 10px 0;
  }
  .cart_quantity_div {
    width: 60% !important;
  }
  .checkout_product_preview .item_name {
    padding-top: 10px;
  }
  .checkout_product_subtotal h5 {
    font-size: small;
  }
  . {
    flex-direction: column !important;
    justify-content: space-evenly !important;
    height: 200px;
  }
  .coupon_section {
    flex-direction: column !important;
  }
  .coupon_section .login_labels,
  .coupon_section #coupon_form {
    width: 100% !important;
  }

  #coupon_form input[type="text"] {
    width: 75% !important;
  }
  #coupon_form button {
    width: 25% !important;
  }
  /* EACH PRODUCT PAGE */
  .each_product_page {
    height: auto !important;
  }
  .image_container {
    height: 500px !important;
  }

  .bottom_image_container * {
    padding: 10px !important;
  }
  .social {
    font-size: 20px !important;
    margin: 0 5px;
  }
  /* FOOTER.CSS */
  .fotter_bottom {
    display: flex;
    flex-direction: row;
  }
  .bottom_left,
  .bottom_right {
    width: 100%;
  }
  .bottom_middle {
    display: none;
  }
  .fr_sub p {
    font-size: small;
    text-align: center;
  }

  /* PROCESS */
  .show_process_icon {
    font-size: 10px !important;
  }

  /* ERROR PAGES */
  .error_page {
    height: 200px;
  }
  .register_form .row_form {
    display: flex;
    flex-flow: row wrap;
  }
  .row_form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row !important;
    align-items: center !important;
    width: 100%;
  }
  .row_form * {
    display: flex;
    padding: 0 5%;
  }
  .row_form .login_labels {
    width: 20%;
  }
  .row_form .input_fields {
    width: 60%;
  }
  .btn_login_page {
    width: 50%;
  }
  /* USER CSS */
  .user {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  .user_dash {
    width: 100% !important;
  }
  .user_info {
    width: 100% !important;
    margin: 50px 0 0 0% !important;
    height: auto !important;
  }

  /* SUCCESS / FAILURE PAGE */
  .tick_icon {
    font-size: 100px !important;
  }
  .payment_success_div p {
    font-size: small;
    text-align: center;
  }
  .success_btns_div {
    height: 30%;
    align-items: center;
  }
}
/************** MEDIUM SCREENS *******************/
@media screen and (min-width: 812px) {
  /* EACH PRODUCT CSS */
  .image_container {
    height: 600px !important;
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  /* .timing_section {
    width: 25% !important;
    margin: 0 2.5%;
  } */
  /* ALL PAGES - HEADER */
  .show_lips,
  .show_eyes {
    width: 25% !important;
  }

  /* START LOGIN PAGE */
  .register_form,
  .login_form {
    height: 600px !important;
    width: 80% !important;
  }

  .signInMethods {
    width: 50% !important;
  }
  .row_form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row !important;
    align-items: center !important;
    margin: 0 20px;
    width: 100%;
    height: 100%;
  }
  .row_form *,
  .solo_btns {
    display: flex;
    width: 40%;
    padding: 0 5%;
  }

  /* HEADER CSS */

  .a_brandName {
    /* WIDTH WITH SEARCH BAR */
    /* width: 15% !important; */

    /*  WIDTH WITHOUT SEARCH BAR */
    width: 20% !important;
    margin-left: 50px !important;
  }
  .show_lips,
  .show_eyes {
    width: 200px !important;
  }

  /* MOBILE HEADER */
  .mobile_nav_parent {
    display: none !important;
  }
  .mobile_nav_container {
    display: none !important;
  }
  /* HOME CSS */

  /* SLIDER SECTION */
  .slider {
    height: 600px !important;
    flex-direction: row !important;
  }
  .slider_left,
  .slider_right {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
  }
  .blob {
    width: 100% !important;
    height: 100% !important;
  }
  .slider_right p {
    font-size: 20px;
  }
  .features {
    flex-direction: row !important;
    height: 275px !important;
  }
  .each_feature {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .feature_icons {
    font-size: 100px !important;
  }

  /* WISHLIST */
  .tags {
    font-size: 50px !important;
  }
  .tags svg {
    font-size: 1.5rem !important;
  }
  /* ALL PRODUCTS */
  .products_sidebar {
    width: 25% !important;
    /* margin-left: 5%; */
  }
  .allProducts_page .products_container {
    width: 75% !important;
  }
  /* .products_container a {
    width: 45% !important;
    height: 500px;
    padding: 0 10px;
  } */

  /* HOME PRODUCTS.CSS */
  .product_info {
    width: 100%;
    height: 500px;
    padding: 0 10px;
  }
  .product_info > img {
    height: 300px;
  }
  /* EACH PRODUCT */

  .individual_product_cont {
    flex-direction: row !important;
  }
  .image_container,
  .info_container {
    width: 50%;
  }
  .top_image_container img,
  .bottom_image_container img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
  .social {
    padding: 25px 40px;
    font-size: 40px;
  }
  /* PROCESS BAR */
  .process_container {
    width: 100% !important;
  }
  .number_cont {
    width: 30px !important;
    height: 30px !important;
  }
  .show_process_icon {
    padding-right: 10px;
    font-size: 30px !important;
  }

  /* CART / BASKET PAGE */
  .cart_product_container {
    height: 200px !important;
  }
  .cart_product,
  .cart_item_right,
  .checkout_product_preview {
    flex-direction: row !important;
  }

  .cart_item_left,
  .cart_item_right {
    width: 50% !important;
    height: 100% !important;
  }
  .each_selection p,
  .number_cont,
  .cart_item_right,
  .checkout_product_preview {
    font-size: medium !important;
  }
  .cart_item_right svg {
    font-size: large !important;
  }

  /* CHECKOUT PAGE */

  /* PRODUCT PREVIEW */
  .checkout_product_preview > img {
    width: 25% !important;
  }
  .checkout_product_subtotal * {
    font-size: large;
  }
  /* DELIVERY AND PICKUP SECTION */
  .checkout_delivery_options {
    flex-direction: row !important;
  }
  .delivery_pickup_cont {
    width: 45% !important;
  }
  .client_and_checkout {
    width: 100%;
  }
  .client_details,
  .checkout_details_right {
    display: flex;
    width: 45% !important;
  }

  /* SUCCESS AND FAILURE PAGES */
  .tick_icon {
    font-size: 125px !important;
  }
  .success_btns_div {
    width: 50%;
    /* height: 50%; */

    padding: 20px;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .success_btns {
    padding: 10px !important;
  }
  /* 404 PAGE */
  .error_btn {
    width: 100% !important;
  }
  /* FOOTER SECTION */
  .footer {
    height: 300px;
    flex-direction: row !important;
  }
  .footer_column {
    flex-direction: column !important;
    width: 33.3333% !important;
  }
  .credits * {
    font-size: smaller;
    padding: 0 5px;
  }
  .footer_social_icons {
    font-size: 25px !important;
  }
}
